@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); 


body {
    background-color: #303030;
    font-family: 'Permanent Marker', cursive;
    color: #de8775;
    margin: 0;
    padding: 0;
    border: none;
}
/* header */

.heading {
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
}

.tic {
    color: #f9f871;
}

.tac {
    color: #FFB969;
}

.toe {
    color: #DE8775;
}

/* game section */

#game-section {
    text-align: center;
    font-size: 100%;
}

#game-section h2 {
    font-size: 200%;
}

#cell-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 314px;
    margin: 50px auto;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid;
    font-size: 80px;
    cursor: pointer;
    line-height: 85px;
    box-shadow: 0 0 0 2px;
}

/** button **/

#game-restart-btn {
    width: 150px;
    height: 50px;
    font-size: 2rem;
    margin-top: 10px;
    background-color: #F9F871;
    color: #303030;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: #de8775 0 10px 20px -10px;
}

/** score area **/

.score-area {
    margin-top: 50px;
    font-size: 2rem;
}

.score-area p {
    display: inline;
    padding: 10px 50px;
}

#x-score, #o-score {
    color: #F9F871;
}

/** footer **/

.footer {
    text-align: center;
    margin-bottom: 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
    position: fixed;
}

footer h2 {
    color: #f9f871;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    display: inline;
    padding: 10px 50px;
}

footer i {
    color: #f9f871;
    font-size: 150%;
}
/* 404 page */

#error-page {
    text-align: center;
    font-size: 150%;
    color:#F9F871;
}

#error-page a {
    color: inherit;
}

/** responsivnes **/

@media screen and (max-width: 710px) {
    .score-area {
        margin-top: 0;
    }

    .score-area p {
        margin: 0;
        padding: 10px 50px;
        display: block;
    }
}


@media screen and (max-width: 500px) {
    .heading {
        font-size: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #cell-container {
        margin: 20px auto;
    
    }

    .game-status {
        margin: 10px 0;
    }

    #game-restart-btn {
        margin-top: 0;
    }

}